  RewriteEngine On
  RewriteBase /rnd_2023
  RewriteRule ^rnd_2023/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /rnd_2023/index.html [L]

