  RewriteEngine On
  RewriteBase /rnd.malikseeds.com
  RewriteRule ^rnd.malikseeds.com/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /rnd.malikseeds.com/index.html [L]

